body {
  min-height: 100vh;
  background: url(../js-game/assets/clicker.jpg);
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  user-select: none;
}

.main {
  display: 200px;
  gap: 200px;
}

.left h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.gem-image {
  width: 300px;
}

.gem-image:hover {
  opacity: 0.9;
  cursor: pointer;
}

.gem-image:active {
  opacity: 0.8;
  transform: scale(1.02);
}

.upgrade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: 60px;
  border: 4px solid white;
  padding: 10px 20px;
  border-radius: 5px;
}

.mid-section h4 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

.mid-section p {
  margin: 0;
}

.upgrade-img {
  width: 20px;
  height: 20px;
}

.gem-img {
  width: 20px;
  height: 20px;
}

.cost-info {
  display: flex;
  align-items: center;
  gap: 5px;
}
