* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url(../js-game/assets/clicker.jpg);
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  user-select: none;
}

.back-buttons {
  border: none;
  color: #eeeeee;
  padding: 10px;
  border-radius: 20px;
  font-size: 1em;
  font-weight: 1000;
  margin-top: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.back-buttons:hover {
  background: #26293c;
  color: white;
}

.main {
  display: 200px;
  gap: 200px;
}

.left h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  color: white;
}

.left h4 {
  color: white;
}

.gem-image {
  width: 300px;
}

.gem-image:hover {
  opacity: 0.9;
  cursor: pointer;
}

.gem-image:active {
  opacity: 0.8;
  transform: scale(1.02);
}

.upgrade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: 60px;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(54, 62, 39);
}

.mid-section h4 {
  margin: 0;
  margin-bottom: 2px;
  font-size: 20px;
  color: white;
}

.mid-section p {
  margin: 0;
  color: white;
}

.upgrade-img {
  width: 60px;
  height: 60px;
  margin-top: 5px;
}

.upgrade-img:hover {
  opacity: 0.9;
  cursor: pointer;
}

.upgrade-img:active {
  opacity: 0.8;
  transform: scale(1.02);
}

.gem-img {
  width: 20px;
  height: 20px;
}

.cost-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.right-section {
  color: white;
}
